.post {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;

}


.player-btn {
    float: right;
    margin-right: 10px;
}