<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="color: rgb(47, 53, 66);" href="#" class="navbar-brand">Amir</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="championShip()">ChampionShip</a></li>
                <li><a href="#" (click)="Team()">Team</a></li>
                <li><a href="#" (click)="Player()">Player</a></li>
                <li><a href="#" (click)="Match()">Match</a></li>
            </ul>
        </div>
    </div>
</nav>